<div class="details">
    <h2 class="movie-title">{{details.title}}</h2>
    <div class="genre-and-votes">
        <span class="genre">{{getGenres(details.genre_ids)}}</span>
        <span class="votes">
            <fa-icon class="star"
                     [icon]="fasStar"></fa-icon>{{details.vote_average}}/10 ({{details.vote_count}} votes)
        </span>
    </div>
    <div class="original-language">Original Language: {{details.original_language | uppercase }}</div>
    <div class="release-date">Release Date: {{details.release_date}}</div>
    <p class="overview">{{details.overview}}</p>
</div>