<form class="search-form form-inline"
      autocomplete="off"
      (ngSubmit)="searchText(searchTerm)">
       <input type="text"
              class="search-input form-control"
              name="search-input"
              [(ngModel)]="searchTerm"
              place-holder="Search"
              autofocus />
       <button class="search-button btn btn-primary"
               type="submit"
               [disabled]="showSpinner">
              <div *ngIf="showSpinner; else searchButton">
                     <span class="spinner-border spinner-border-sm"></span>
              </div>
              <ng-template #searchButton>
                     Search
              </ng-template>
       </button>
       <button class="clear-button btn btn-secondary"
               type="button"
               (click)="clearSearchTerm()">
              Clear
       </button>
</form>