<form class="search-form form-inline"
      autocomplete="off"
      (ngSubmit)="searchText(searchTerm)">
       <input type="text"
              class="search-input form-control"
              name="search-input"
              autofocus
              [(ngModel)]="searchTerm"
              place-holder="Search" />
       <button class="search-button btn btn-primary"
               type="submit"
               [disabled]="showSpinner">
              <span *ngIf="!showSpinner">
                     Search
              </span>
              <span *ngIf="showSpinner">
                     <span class="spinner-border spinner-border-sm"
                           role="status"></span>
              </span>
       </button>
       <button class="clear-button btn btn-secondary"
               type="button"
               (click)="clearSearchTerm()">
              Clear
       </button>
</form>