.result-container {
    overflow-y: scroll;
    float:left;
    height:calc(100vh - 40px);
    display: flex;
    flex-flow: row wrap;
    .result-item {
        flex: 0 0 10%;
        margin: 1%
    }
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.selected {
    border: 2px solid red;
}

.empty-img {
    background: url("../../../../assets/movie-cell.png");
    width: 185px;
    height: 280px;
    background-size: 185px 280px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    .no-img-txt {
        flex: 0 0 80%;
        text-align: center;
        margin: 10%;
    }
}