.sticky-top {
    background-color: white;
}

.search-movies-header {
    display: flex;
    .search-bar {
        flex: 0 0 48%;
        margin: 1%;
    }
    .votes-bar {
        flex: 0 0 24%;
        margin: 1%;
        display: flex;
    }
}